 /* root */
:root {
    --main_color: rgb(42, 42, 110);
    --accent_color:#551688;
    --nav_button_text:white;
    --hero_card_background:rgb(250, 248, 248, 0.7);
    --bold_text: 700;
    --invalid_response:rgb(224, 151, 151);
    --valid_response:rgb(186, 236, 173);
    --before_response:transparent;
  }
/* Management Main page */
.management_section {
    grid-column: 1/3;
    grid-row: 1/3;
    justify-items: center;
    margin: 1em;
}
.managementLinks {
    border: 2px solid var(--main_color);
    list-style-type: none;
    padding: 10px;
    text-align: center;
}
.managementLinks li{
    padding: 10px;
}
.manageInventory {
    text-align: center;
    margin-top: 5px;
}
#inventoryDisplay {
    width: 100%;
}


/* Management add Classification page */
.addClassForm {
    padding: 10px;
}
.addClassForm p{
    padding: 10px;
}
#classFieldset {
    border: 3px solid var(--main_color);
    padding: 10px;
}
#classFieldset label, #classFieldset input {
    display: block;
    margin: 10px;
}
/* Management add inventory page */
 .addInvForm {
    padding: 10px;
    min-width: fit-content;
}
.addInvForm p{
    padding: 10px;
}
#invFieldset {
    border: 3px solid var(--main_color);
    padding: 10px;
}
#invFieldset label, #invFieldset input, #invFieldset select{
    display: block;
    min-width: 210px;
    margin: 10px auto;
    text-align: center;
}
#invFieldset textarea {
    min-width: 250px;
} 
/* Account management view */
.accManagement_Section {
    grid-row: 1/3;
    grid-column: 1/3;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}
.accMainContent {
    margin: 10px 10px;
}
.accMainContent div {
    margin-bottom: 10px;
}
/* Update account information */
.updateAcc_Section{
    grid-row: 1/3;
    grid-column: 1/3;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}
.updateAcc_Form {
    display: grid;
    gap: 15px;
    margin-bottom: 60px;
    justify-content: center;
    align-items: center;
}
#updateAcc_Fieldset{
    padding: 20px;
    margin-top: 20px;
}
.updateAcc_Form input[type="text"],
.updateAcc_Form input[type="email"],
.updateAcc_Form input[type="password"] {
    padding: 8px;
}

/* Change password information */
.changePass_Form {
    display: grid;
    gap: 15px;
    margin-bottom: 60px;
    justify-content: center;
    align-items: center;
}
#changePass_Fieldset{
    padding: 20px;
    margin-top: 20px;
}