<!-- classification ejs wrapped in a section -->
<section class="classification_section">
<!-- Content Heading -->
<% if (title) { %>
    <h1> <%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>
<!-- Message Block -->
<%# messages() %>
<!-- Vehicle Content Grid -->
<%- grid %>
</section>