<!-- management View wrapped in section -->
<section class="management_section">
  <!-- Content Heading -->
  <% if (title) { %>
  <h1><%= title %></h1>
  <% } else { res.redirect('/') } %>
  <!-- Message Block -->
  <%- messages() %>
  <!-- display errors -->
  <% if (errors) { %>
  <ul class="notice">
    <% errors.array().forEach(error => { %>
    <li><%= error.msg %></li>
    <% }) %>
  </ul>
  <% } %>
  <ul class="managementLinks">
    <li><a href="/inv/add-classification">Add new classification</a></li>
    <li><a href="/inv/add-inventory">Add new inventory</a></li>
  </ul>

  <div class="manageInventory">
    <h2>Manage Inventory</h2>
    <p>Please select a classification from the list of them down below</p>
    <%- classificationSelect -%>

    <table id="inventoryDisplay"></table>

    <noscript>Javascript must be enabled to use this page</noscript>

    <script src="../../js/inventory.js"></script>
  </div>




</section>
